* {
  margin: 0;
  box-sizing: 0;
}

:root {
  --primary-color: #CE0404;
  --secondary-color: white;
}

html {
  font-family: Gotham Rounded, Arial, Helvetica, sans-serif;
}

.mainContainer {
  background: var(--primary-color);
  background: radial-gradient(circle, var(--primary-color) 10%, rgb(46, 12, 18) 100%);
  height: 100vh;
}